.texto {
    font-family: "Segoe UI";
    justify-content: left;
    text-align: left;
    width: 54%;
  }
  
  .contenedor2 {
    display: flex;
    background-color: white;
    padding: 20px;
    border: solid 1px black;
    align-items: center;
    width: 80%;
    height: 400px;
  }
  
  .espacioimagen  {
    margin-left: 50px;
  }